${t('You haven\'t entered anybody\'s information yet')}.
<p>
${t('You can list People here and track their contact information')}.
${t('You can also associate Actions with People, to help group your Actions better')}.
<p>
${t('Examples of such People-oriented Actions might be "fix Dan X\'s computer" or "invoice John Y for Sept"')}.
<p>
${t('Would you like to add somebody here now')}?
<p>
${t('By the way, this Person/contact feature is a <b>work in progress</b>')}...
