@charset "utf-8";
*{margin:0; padding:0;}
html,body{font:12px Tahoma,Arial,sans-serif,"\5b8b\4f53"; color:#000; white-space:normal; word-Break:Break-all;scrollbar-face-color:#fff; scrollbar-highlight-color:#bababa; scrollbar-3dlight-color:#f2f2f2; scrollbar-darkshadow-color:#f2f2f2; scrollbar-Shadow-color:#bababa; scrollbar-arrow-color:#bababa; scrollbar-track-color:#f2f2f2; background:#fff;}
/** * html IE6及更老的版本 *+html 只有IE7识别*/
i,em,b{font-style:normal; font-weight:normal;}
input{font-size:12px;}
a:hover{color:#000;}
a{outline:none;}




.dialog_mask_layout {position:fixed;top:0px;left:0px;width:100%;background-color:#000;opacity:0.30;filter:alpha(opacity=30);z-index:900;}
.dialog_global{position:absolute;left:562px;top:300px;z-index:9999;}
.dialog_global_main{border:1px solid #6b97c1;background-color:#FFFFFF;}
.dialog_global_main {background-color:#fff;border:1px solid #6b97c1;}
.dialog_global_tit {background:#8baccf url(pupop_bg.png) repeat-x scroll 0 0;height:28px;}
.dialog_global_tit h3 {float:left;font-size:13px;height:28px;line-height:28px;overflow:hidden;text-indent:8px;color:#fff;}
.dialog_global_tit button {background:transparent url(pupop_bg.png) no-repeat scroll 0 -30px;cursor:pointer;height:19px;line-height:100px;width:34px;margin-right:5px;float:right;border:medium none;}
.dialog_global_tit button:hover{background:url(pupop_bg.png) no-repeat -37px -30px;}
.dialog_global_cont a:link,.layer_global_cont a:visited{color:#5f5f5f;text-decoration:underline;}
.dialog_global_cont a:hover,.layer_global_cont a:active{color:#494949;}
.dialog_global_cont{color:#5f5f5f;background-color:#fff;}
.dialog_global_ctrl{background-color:#f3f3f3;clear:both;text-align:right;width:100%;height:28px;padding-top:6px;border-top:1px solid #e0e0e0;}
.dialog_global_ctrl button{border:1px solid #ccd4dc;font-size:12px;line-height:20px;height:22px;margin-right:6px;padding:0 12px;cursor:pointer;*overflow:visible;_padding-top:3px;_line-height:12px;}
.bt_tip_hit{background:#d2e3f3 url(pupop_bg.png) no-repeat 0 -51px;color:#4d637f;}
.bt_tip_normal{background:#f3f4f5 url(pupop_bg.png) no-repeat 0 -95px;color:#4d637f;}
.bt_tip_normal:hover,.bt_tip_hit:hover,.bt_tip_over{color:#4d637f;background-color:#e1edef;background-position:0 -73px;}

