Đây là nơi liệt kê tất cả các công việc bạn đã làm xong.  
Tuy nhiên, bạn không có một công việc nào được hoàn thành vào lúc này cả, 
nhưng chúng tôi chắc chắn rằng bạn sẽ làm xong nhanh chóng công việc bạn cần làm.
<p>  Bạn có thể dùng chương trình bên phải để bỏ thêm vào các công việc cần làm.