  Hiện tại bạn không có một ${t('Project')} nào đang làm cả.<p>
  Một ${t('Project')} giúp bạn phân chia các ${t('Actions')} thành những nhóm khác nhau.  
  Ví dụ như ${t('Project')} có thể là "tân trang lại nhà bếp", "chuẩn bị mọi thứ cho em bé", "làm bá chủ thế giới".<p>
  Bạn có muốn làm cho mình một ${t('Project')} không?