  You don't have any Projects yet.<p>
  A Project lets you group and categorize Actions.  
  Example Projects might be "remodel kitchen", "prepare for baby", "conference presentation".<p>
  Would you like to create a Project now?