Bạn chưa có lập một nhóm việc nào hết.<p>
Một nhóm việc đại diện cho một tập hợp các việc có liên quan 
với nhau, mà từ đó bạn có thể dễ dàng tìm kiếm và hoàn tất các 
công việc cần làm.
Ví dụ của Nhóm Việc có thể là "máy tính & điện thoại", "văn phòng", "sân sau nhà".<p>
Bạn có muốn tạo ra một Nhóm Việc bây giờ không?